body{
    overflow-y: hidden;
}
#contentArea{
    width: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: black;
}
.tab-contents{
    display: none;
    color: white;
    width: 97%;
    margin: 0 auto;
    padding-left: 30px;
    padding-top: 25px;
}
#close , #open{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.btn.active-tab{
    text-align: center;
    font-weight: 600;
    background-color: rgb(249 115 22);
    color:black;
    padding: 9px;
    border-radius: 12px;
    font-size: 17px;
    transition: 0.5s;

}
.tab-contents h3{
    font-size: 40px;
    padding: 25px 0 ;
    color: rgb(249 115 22);
}
.div-out{
    width: 100%;
    height: 380px;
    background-color: rgb(249 115 22);
    display: grid;
    padding: 0 3%;
    padding-top: 20px;
    border-radius: 12px;
}
.div-in{
    width: 100%;
    height: 90%;
    background-color: black;
    margin: 0 auto; 
    padding-left: 18px;
    padding-top: 18px;
}
p{
    font-size: 18px;
}
.div-out a{
    background-color: #f9f6ee;
    color: black;
    width: 160px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
table td{
    padding: 5px 50px;
    text-align: justify;
    color: white;
}
footer{
    margin-bottom: 80px;
}
@media only screen and (max-width:768px){
    #side{
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        height: 100vh;
        padding-top:50px ;
        z-index: 2;
        transition: left 0.5s;
    }
    #open{
        display: block;
    }
}
@media only screen and (max-width:680px){
    #fb{
        display: none;
    }
}
@media only screen and (max-width:440px){
    #divh1{
        margin: 0 auto;
    }
}